<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    LOGIN
    <form th:action="@{/authenticate}" method="POST">
        <input type = "text" placeholder="username" name="username" id="username">
        <input type = "password" name="password" id="password">
        <input type = "submit">
    </form>
    <a href= "/register" style="color: red; text-decoration: unset;">Don't have an account yet?</a>
</body>
</html>